
.card {
  @include box;
  background: red;
  @mixin box {
    width: 100px;
    height: 100px;
  }
}

.profile {
  @include box;
  background-color: blue;
  @mixin box {
    width: 100px;
    height: 100px;
  }
}